
networks:
  apps:
    name: "compose_apps"
    external: true

services:
  plex:
    labels:
      backup: true
      caddy: "plex.muletto.colasuonno.net"
      caddy.reverse_proxy: "{{upstreams 32400}}"
    restart: unless-stopped
    container_name: plex
    image: lscr.io/linuxserver/plex:latest
    networks:
      apps:
        ipv4_address: ${MACVLAN_PLEX_IP}
    privileged: true
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${DOCKER_DIR}/plex:/config
      - ${MERGERFS_ROOT}/Media/TV:/tv
      - ${MERGERFS_ROOT}/Media/Movies:/movies
      - ${MERGERFS_ROOT}/Media/Movies_ITA:/movies_ita
      - ${MERGERFS_ROOT}/Media/Music:/music
    environment:
      - DOCKER_MODS="linuxserver/mods:jellyfin-opencl-intel"
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - PLEX_CLAIM=${PLEX_CLAIM}
      - START_DOCKER=false
      - DRINODE=/dev/dri/renderD128

  jellyfin:
    labels:
      backup: true
      caddy: "jellyfin.muletto.colasuonno.net"
      caddy.reverse_proxy: "{{upstreams 8096}}"
    restart: unless-stopped
    container_name: jellyfin
    image: ghcr.io/linuxserver/jellyfin:latest
    networks:
      apps:
        ipv4_address: ${MACVLAN_JELLYFIN_IP}
    privileged: true
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${DOCKER_DIR}/jellyfin:/config
      - ${MERGERFS_ROOT_SLOW}/Media/Transcodes:/config/data/transcodes
      - ${MERGERFS_ROOT}:/storage
      - /etc/localtime:/etc/localtime:ro
    environment:
      - DOCKER_MODS="linuxserver/mods:jellyfin-opencl-intel"
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - START_DOCKER=false
      - DRINODE=/dev/dri/renderD128
  jellyseer:
    labels:
      backup: true
      caddy: jellyseer.muletto.colasuonno.net
      caddy.reverse_proxy: "{{upstreams 5055}}"
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseer
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=debug
    volumes:
      - ${DOCKER_DIR}/jellyseer:/app/config
      - ${MERGERFS_ROOT}:/storage
    networks:
      apps:
        ipv4_address: ${MACVLAN_JELLYSEER_IP}
    restart: unless-stopped
  calibre-web:
    labels:
      backup: true
      caddy: "calibre-web.muletto.colasuonno.net"
      caddy.reverse_proxy: "{{upstreams 8083}}"
    restart: unless-stopped
    container_name: calibre-web
    image: lscr.io/linuxserver/calibre-web:latest
    networks:
      apps:
        ipv4_address: ${MACVLAN_CALIBREWEB_IP}
    volumes:
      - ${DOCKER_DIR}/calibre-web/config:/config
      - ${MERGERFS_ROOT}/Media/Books:/books
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}

  kavita:
    labels:
      backup: true
      caddy: "kavita.muletto.colasuonno.net"
      caddy.reverse_proxy: "{{upstreams 5000}}"
    restart: unless-stopped
    container_name: kavita
    image: lscr.io/linuxserver/kavita:latest
    networks:
      apps:
        ipv4_address: ${MACVLAN_KAVITA_IP}
    volumes:
      - ${DOCKER_DIR}/kavita/config:/config
      - ${MERGERFS_ROOT}/Media/Comics:/data/comics
      - ${MERGERFS_ROOT}/Media/Books:/data/books
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}