
networks:
  apps:
    name: ${MACVLAN_NETWORK_NAME}
    external: true

services:
  plex:
    labels:
      backup: true
    restart: always
    container_name: plex
    image: "lscr.io/linuxserver/plex:latest"
    networks:
      apps:
        ipv4_address: ${MACVLAN_PLEX_HOST}
    privileged: true
    devices:
      - "/dev/dri:/dev/dri"
    volumes:
      - "${DOCKER_DIR}/plex:/config"
      - "${MERGERFS_ROOT}/Media/TV:/tv"
      - "${MERGERFS_ROOT}/Media/Movies:/movies"
      - "${MERGERFS_ROOT}/Media/Movies_ITA:/movies_ita"
      - "${MERGERFS_ROOT}/Media/Music:/music"
    environment:
      - DOCKER_MODS="linuxserver/mods:jellyfin-opencl-intel"
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - PLEX_CLAIM=${PLEX_CLAIM}
      - START_DOCKER=false
      - DRINODE=/dev/dri/renderD128

  jellyfin:
    labels:
      backup: true
    restart: always
    container_name: jellyfin
    image: "ghcr.io/linuxserver/jellyfin:latest"
    networks:
      apps:
        ipv4_address: ${MACVLAN_JELLYFIN_IP}
    privileged: true
    devices:
      - "/dev/dri:/dev/dri"
    volumes:
      - "${DOCKER_DIR}/jellyfin:/config"
      - "${MERGERFS_ROOT}/Media/TV:/data/TV"
      - "${MERGERFS_ROOT_SLOW}/Media/Transcodes:/config/data/transcodes"
      - "${MERGERFS_ROOT}/Media/Metadata:/metadata"
      - "${MERGERFS_ROOT}/Media/Cache:/data/Cache"
      - "${MERGERFS_ROOT}/Media/Movies:/data/Movies"
      - "${MERGERFS_ROOT}/Media/Movies_ITA:/data/Movies_ITA"
      - "${MERGERFS_ROOT}/Media/Music:/data/Music"
      - "${MERGERFS_ROOT}/Media/Audiobook:/data/Audiobook"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - DOCKER_MODS="linuxserver/mods:jellyfin-opencl-intel"
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - START_DOCKER=false
      - DRINODE=/dev/dri/renderD128

  calibre-web:
    labels:
      backup: true
    restart: always
    container_name: calibre-web
    image: "lscr.io/linuxserver/calibre-web:latest"
    networks:
      apps:
        ipv4_address: ${MACVLAN_CALIBREWEB_IP}
    volumes:
      - '${DOCKER_DIR}/calibre-web/config:/config'
      - "${MERGERFS_ROOT}/Media/Books:/books"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}

  kavita:
    labels:
      backup: true
    restart: always
    container_name: kavita
    image: "lscr.io/linuxserver/kavita:latest"
    networks:
      apps:
        ipv4_address: ${MACVLAN_KAVITA_IP}
    volumes:
      - '${DOCKER_DIR}/kavita/config:/config'
      - "${MERGERFS_ROOT}/Media/Comics:/data/comics"
      - "${MERGERFS_ROOT}/Media/Books:/data/books"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}

  watchstate:
    labels:
      backup: true
    image: ghcr.io/arabcoders/watchstate:latest
    container_name: watchstate
    restart: unless-stopped
    networks:
      apps:
        ipv4_address: ${MACVLAN_WATCHSTATE_IP}
    volumes:
      - "${DOCKER_DIR}/watchstate/data:/config:rw"
