
networks:
  apps:
    name: "compose_apps"
    external: true

services:
  nginxproxymanager:
    restart: unless-stopped
    container_name: nginxproxymanager
    image: jc21/nginx-proxy-manager:latest
    networks:
      apps:
        ipv4_address: ${MACVLAN_NGINXPROXYMANAGER_IP}
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - ${DOCKER_DIR}/nginxproxymanager/data:/data
      - ${DOCKER_DIR}/nginxproxymanager/letsencrypt:/etc/letsencrypt
  cloudflared:
    labels:
      backup: true
    restart: unless-stopped
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel run
    networks:
      apps:
        ipv4_address: ${MACVLAN_CLOUDFLARED_IP}
    volumes:
      - ${DOCKER_DIR}/cloudflared/config:/home/nonroot/.cloudflared/
    environment:
      - TZ=${TZ}
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}

  dockge:
    labels:
      backup: true
    restart: unless-stopped
    container_name: dockge
    image: louislam/dockge:1
    networks:
      apps:
        ipv4_address: ${MACVLAN_DOCKGE_IP}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DIR}/dockge:/app/data
      - ${DOCKER_HOME}:${DOCKER_HOME}
    environment:
      - DOCKGE_STACKS_DIR=${DOCKER_HOME}
      - DOCKGE_ENABLE_CONSOLE=true
