
networks:
  apps:
    name: "compose_apps"
    external: true

services:
  caddy:
    restart: unless-stopped
    container_name: caddy
    build:
      context: ./caddy
    networks:
      apps:
        ipv4_address: ${MACVLAN_CADDY_IP}
    ports:
      - 80:80
      - 443:443
      - 2015:2015
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DIR}/caddy/data:/data
      - ${DOCKER_DIR}/caddy/config:/config
      - ./Caddyfile.mqtt:/etc/caddy/Caddyfile.mqtt # Mount the custom Caddyfile
    labels:
      caddy.email: ${CLOUDFLARE_CADDY_EMAIL}
      caddy.acme_dns: "cloudflare ${CLOUDFLARE_CADDY_API_TOKEN}"
    environment:
      - CADDY_EXTRA_CONFIGS=/etc/caddy/Caddyfile.mqtt # Include this custom Caddyfile

  cloudflared:
    labels:
      backup: true
    restart: unless-stopped
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel run
    networks:
      apps:
        ipv4_address: ${MACVLAN_CLOUDFLARED_IP}
    volumes:
      - ${DOCKER_DIR}/cloudflared/config:/home/nonroot/.cloudflared/
    environment:
      - TZ=${TZ}
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}

  dockge:
    labels:
      backup: true
      caddy: "dockge.muletto.colasuonno.net"
      caddy.reverse_proxy: "{{upstreams 5001}}"
    restart: unless-stopped
    container_name: dockge
    image: louislam/dockge:1
    networks:
      apps:
        ipv4_address: ${MACVLAN_DOCKGE_IP}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DIR}/dockge:/app/data
      - ${DOCKER_HOME}:${DOCKER_HOME}
    environment:
      - DOCKGE_STACKS_DIR=${DOCKER_HOME}
      - DOCKGE_ENABLE_CONSOLE=true