pageInfo:
  title: {{ host_local }}
sections: # An array of sections
{% for category in categories -%}
- name: {{ category }}
  items:
{% for item in application_info -%}
{% if item['container_name'] != 'dashy' and item['container_name'] != 'watchtower' and item['enabled'] and item['dashboard_category'] == category +%}
  - title: "{{ item.dashboard_name | default(item.container_name) }}"
    url: "https://{{ item.url }}"
    icon: "{{ item.container_name }}.png"
{% endif %}
{% endfor %}
{% endfor %}
