
networks:
  apps:
    name: "compose_apps"
    external: true

services:
  backrest:
    labels:
      backup: true
      caddy: "backrest.muletto.colasuonno.net"
      caddy.reverse_proxy: "{{upstreams 9898}}"
    image: garethgeorge/backrest
    container_name: backrest
    networks:
      apps:
        ipv4_address: ${MACVLAN_BACKREST_IP}
    volumes:
      - ${DOCKER_DIR}/backrest/data:/data
      - ${DOCKER_DIR}/backrest/config:/config
      - ${DOCKER_DIR}/backrest/cache:/cache
      - ${DOCKER_BACKUP_DIR}:/userdata
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TZ=${TZ}
    restart: unless-stopped
