
networks:
  apps:
    name: ${MACVLAN_NETWORK_NAME}
    external: true

services:
  mqtt:
    restart: unless-stopped
    container_name: mqtt
    image: eclipse-mosquitto
    networks:
      apps:
        ipv4_address: ${MACVLAN_MQTT_HOST}
    volumes:
      - "${DOCKER_DIR}/mqtt/config:/mosquitto/config"
      - "${DOCKER_DIR}/mqtt/data:/mosquitto/data"
      - "${DOCKER_DIR}/mqtt/log:/mosquitto/log"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}

  zigbee2mqtt:
    restart: unless-stopped
    container_name: zigbee2mqtt
    image: "koenkk/zigbee2mqtt"
    networks:
      apps:
        ipv4_address: ${MACVLAN_ZIGBEE2MQTT_IP}
    privileged: true
    volumes:
      - '${DOCKER_DIR}/zigbee2mqtt/config:/app/data'
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - START_DOCKER=false

  homeassistant:
    restart: unless-stopped
    container_name: homeassistant
    image: "homeassistant/home-assistant:stable"
    networks:
      apps:
        ipv4_address: ${MACVLAN_HOMEASSISTANT_IP}
    volumes:
      - '${DOCKER_DIR}/homeassistant/config:/config'
      - "${MERGERFS_ROOT}/Media/HomeAssistant:/media"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}

  mqttx:
    labels:
      backup: true
    restart: unless-stopped
    container_name: mqttx
    image: "emqx/mqttx-web"
    networks:
      apps:
        ipv4_address: ${MACVLAN_MQTTX_IP}
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}

  apcupsd:
    labels:
      backup: true
    image: gregewing/apcupsd:latest
    container_name: apcupsd-stack
    devices:
      - /dev/usb/hiddev0
    networks:
      apps:
        ipv4_address: ${MACVLAN_APCUPSD_IP}
    environment:
      - UPSNAME=smartups750
      - TZ=${TZ} # Default value is Europe/London
    volumes:
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
      - /etc/apcupsd
    restart: unless-stopped
