# vim: set ft=yaml:
global:
    scrape_interval: 5s
    scrape_timeout: 5s

scrape_configs:
    - job_name: services
      metrics_path: /metrics
      static_configs:
          - targets:
                - 'localhost:9090'

{% if enable_jellyfin %}
    - job_name: 'jellyfin'
      metrics_path: /metrics
      scheme: https
      static_configs:
          - targets:
                - '{{ web_applications['jellyfin']['url'] }}'
{% endif %}

{% if enable_homeassistant %}
    - job_name: 'hass'
      metrics_path: /api/prometheus
      authorization:
          credentials: '{{ hass_prometheus_token }}'
      scheme: https
      static_configs:
          - targets:
                - 'homeassistant.goose.party'
{% endif %}
